# inside solr
solr/LICENSE.txt
solr/NOTICE.txt
solr/README.txt
solr/etc/
solr/work/
solr/lib/
solr/solr/README.txt
solr/solr/solr.xml
solr/start.jar
solr/webapps/
solr/solr/data/*

acts_as_solr_reloaded-*.gem
*.log
*.log
*_pid

coverage
coverage/*
coverage.data
test/db/*.db
test/log/*.log
pkg/*
*.sw?
rdoc
pkg
tags
.svn
